html,body{
	background: #fff
}

hr{
	margin-bottom: 20px;
	margin-top: 0;
	border-bottom: 1px solid #F37170
}
.btn {
	padding: 7px 14px;
	border-radius: 2px;
}

.btn-default {
	border: 1px solid #f4645f;
	background: #f4645f;
	color: #fff;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-default:hover {
	border: 1px solid #303030;
	background: #303030;
	color: #fff;
}

.btn-default:focus {
	outline: 0;
}

.btn-default[disabled] {
	border: 1px solid #303030;
	background: #303030;
	color: #fff;
}

.main-header {
	padding: 42px 0;
	background: #f4645f;
	text-align: center;
}

.main-header .branding {
	color: #303030;
	font-size: 3.5em;
}

.main-header .branding:hover {
	text-decoration: none;
}

.main-header .branding img {
	max-width: 100%;
}

.main-header h1 {
	color: #fff;
}

.btn-doc {
	position: relative;
	bottom: -40px;
	border: 1px solid #f1362f;
	background-color: transparent;
}

@media only screen and (max-width:767px) {
	.btn-doc {
		display: block;
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
		width: 50%;
	}
}

.home-template .main-header {
	padding-top: 62px;
	padding-bottom: 62px;
	background-position: center 20%;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
}


li.active {
	border-bottom: 2px solid #F4645F;
}

.navbar{
	box-shadow: 0 0 1px 1px #CCCCCC;
	border-radius:0;
}
.navbar-default .navbar-nav>.active>a{
	color: #777;
	background: #F8F8F8;
	border-bottom: 1px solid #F37170
}
.navbar-default .navbar-nav>.active>a:hover{
	color:  #F37170;
	background: #F8F8F8;
}
.navbar-default .navbar-nav>li>a:hover{
	color:  #F37170;
}
.slider {
	height: 450px;
}
.col-sm-12>h1>small{
	color: yellow;
	font-size: 0.5em;
	margin:5px 0;
}
.col-sm-12>h3{
	margin:0; 
	color:white;
	font-weight:400;
	word-spacing:8px;
	letter-spacing:1px
}
.rslides {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

.rslides li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	-webkit-backface-visibility: hidden;
}

.rslides li:first-child {
	position: relative;
	float: left;
	display: block;
}

.rslides img {
	float: left;
	display: block;
	width: 100%;
	height: auto;
	border: 0;
}

.clearfix ul {
	margin: 0;
	padding-left: 0;
	list-style: none outside none;
}
.demo{
	width: 100%!important;
	margin: 0 auto;
}
.demo .item {
	margin-bottom: 60px;
}

.content-slider li {
	background-color: #ed3020;
	color: #FFF;
	text-align: center;
}

.content-slider h3 {
	margin: 0;
	padding: 70px 0;
}

.row .dynamic{
	background: white;
}
.dynamic h3{
	color: #F37170;
	font-weight: 400;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.dynamic .row{
	margin-bottom: 10px;
	
}
.more>a{
	margin-top: 28px;
	float: right;
}
dl dd span>a{
	display: inline;
	float: right;
}
dl dd{
	margin-bottom: 4px;
}
